@import "src/theme/theme-variables";
.link {
  color: $dark-primary-text;
  &:hover {
    color: #fff;
  }
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .logo {
    display: flex;
    img {
      max-width: 200px;
    }
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0.5px;
    @extend .link;
    &.active {
      color: $accent-color;
    }
  }
  .lang mat-icon {
    @extend .link;
  }
}

.menu-button {
  margin-right: 1rem;
}
